<h1>Index</h1>
<% @car.each do |car| %>
  <h3><a href="/cars/<%= car.id %>"><%= car.make %>  <%= car.model %><%= car.engine_size %> <%= car.power %> <%= car.forced_induction %></a></h3>
  <%= link_to 'Show', car %>
  <%= link_to 'Edit', edit_car_path(car) %>
<% end %>
